*{margin: 0;padding: 0; list-style: none;}
/*
KISSY CSS Reset
理念：1. reset 的目的不是清除浏览器的默认样式，这仅是部分工作。清除和重置是紧密不可分的。
2. reset 的目的不是让默认样式在所有浏览器下一致，而是减少默认样式有可能带来的问题。
3. reset 期望提供一套普适通用的基础样式。但没有银弹，推荐根据具体需求，裁剪和修改后再使用。
特色：1. 适应中文；2. 基于最新主流浏览器。
维护：玉伯<lifesinger@gmail.com>, 正淳<ragecarrier@gmail.com>
 */

/** 清除内外边距 **/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
form, fieldset, legend, button, input, textarea, /* form elements 表单元素 */
th, td /* table elements 表格元素 */ {
  margin: 0;
  padding: 0;
}

/** 设置默认字体 **/
body,
button, input, select, textarea /* for ie */ {
  font: 14px/1.5 tahoma, arial, \5b8b\4f53, sans-serif;
}
h1, h2, h3, h4, h5, h6 { font-size: 100%; }
address, cite, dfn, em, var { font-style: normal; } /* 将斜体扶正 */
code, kbd, pre, samp { font-family: courier new, courier, monospace; } /* 统一等宽字体 */
small { font-size: 12px; } /* 小于 12px 的中文很难阅读，让 small 正常化 */

/** 重置列表元素 **/
ul, ol { list-style: none; }

/** 重置文本格式元素 **/
a {text-decoration: none;}
a:hover { text-decoration: none; }


/** 重置表单元素 **/
legend { color: #000; } /* for ie6 */
fieldset, img { border: 0; } /* img 搭车：让链接里的 img 无边框 */
button, input, select, textarea { font-size: 100%; } /* 使得表单元素在 ie 下能继承字体大小 */
/* 注：optgroup 无法扶正 */

/** 重置表格元素 **/
table { border-collapse: collapse; border-spacing: 0;}

/* 浮动 */
.fl{float:left;}
.fr{float:right;}

/* 清除浮动 */
.clear{clear: both; _zoom:1; width:0; height:0; line-height:0; display:block; margin:0; padding:0;}
.ks-clear:after, .clear:after {content: '\20'; display: block; height: 0; clear: both;}
.ks-clear, .clear {*zoom: 1;}

/*图标字体化*/
@font-face {
  font-family: 'iconfont';
  src: url('http://at.alicdn.com/t/font_1408002931_2298205.eot'); /* IE9*/
  src: url('http://at.alicdn.com/t/font_1408002931_2298205.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('http://at.alicdn.com/t/font_1408002931_2298205.woff') format('woff'), /* chrome、firefox */
  url('http://at.alicdn.com/t/font_1408002931_2298205.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('http://at.alicdn.com/t/font_1408002931_2298205.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont {font-family:"iconfont" !important; font-size:16px; font-style:normal; -webkit-font-smoothing: antialiased; -webkit-text-stroke-width: 0.2px; -moz-osx-font-smoothing: grayscale;}

img{width:100%;}

/*垂直阅读的设置*/
/*body{font-size:12px; line-height:1em;}
p{font-size:1em; line-height:1.5em; margin:1.5em 0;}
h1{font-size:2em; line-height:1.5em; margin:1.5em 0;}
h2{font-size:1.8333em; line-height:1.6364em; margin:1.6364em 0;}
h3{font-size:1.6667em; line-height:1.8em; margin:1.8em 0;}
h4{font-size:1.5em; line-height:1em; margin:2em 0;}
h5{font-size:1.3333em; line-height:1.125em; margin:2.25em 0;}
h6{font-size:1.1667em; line-height:1.2857em; margin:2.5714em 0;}
*/

/*提示信息开始*/
#promptmag{position:fixed; top:0; left:0; max-width:60%; left:0; text-align: center; font:14px/1.5 "微软雅黑";  z-index:1000; }
#promptmag .mag{padding:10px 20px; border-radius:3px; color:#fff;}
#promptmag .red{background-color:#e85d57;}
#promptmag .blue{background-color:#25b5c2;}
#promptmag .yellow{background-color:#fdc83c;}

@keyframes spin{
  from{transform:rotate(0deg)}
  to{transform:rotate(359deg)}
}
@-moz-keyframes spin{
  from{-moz-transform:rotate(0deg)}
  to{-moz-transform:rotate(359deg)}
}
@-webkit-keyframes spin{
  from{-webkit-transform:rotate(0deg)}
  to{-webkit-transform:rotate(359deg)}
}
@-o-keyframes spin{
  from{-o-transform:rotate(0deg)}
  to{-o-transform:rotate(359deg)}
}
#promptmag .loading{background-color:#000; line-height:40px; vertical-align:top; border-radius:3px; padding:6px;  opacity:0.6;}
#promptmag .loading i{
  display:inline-block;
	font-size:40px; line-height:40px; color:#fff; opacity:0.6;
	-webkit-animation: spin 1s infinite linear;
	-moz-animation: spin 1s infinite linear;
	-o-animation: spin 1s infinite linear;
	animation: spin 1s infinite linear;
}
/*提示信息结束*/

/*侧边导航开始*/
.mmenu-opened,.mmenu-opened body{height:100%; width:100%; overflow:hidden;}
.mmenu{display:none; width:80%; height:100%;position:absolute;top:0;right:0;z-index:0;overflow:auto;overflow-x:hidden;overflow-y:auto;-webkit-overflow-scrolling:touch;}
.mmenu,.mmenu *{-webkit-text-size-adjust:none;font-family:Arial, Helvetica, Garuda, sans-serif;font-size:14px;}
.mmenu ul,.mmenu li{list-style:none;}
.mmenu li{position:relative;}
.mmenu ul,.mmenu li,.mmenu li > a,.mmenu li > span{display:block; padding:0;margin:0;}
.mmenu > ul{background-color:inherit; position:relative; z-index:3;}
.mmenu-opened .mmenu.mmenu-opened{display:block;}
.mmenu-opened .mmenu-page{box-shadow:0 0 20px rgba( 0, 0, 0, 0.8 );background-color:inherit;min-height:100%;position:absolute;z-index:1;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
#mmenu-blocker{display:none;}
.mmenu-opened #mmenu-blocker,.mmenu-blocking #mmenu-blocker{background:#fff;opacity:0;display:block;width:100%;height:100%;position:absolute;top:0;z-index:2;}
.mmenu-opened .mmenu-page,.mmenu-opened #mmenu-blocker{-webkit-transition:left 0.5s ease, right 0.5s ease, margin 0.5s ease;-moz-transition:left 0.5s ease, right 0.5s ease, margin 0.5s ease;transition: left 0.5s ease, right 0.5s ease, margin 0.5s ease;}
.mmenu-accelerated .mmenu-page,html.mmenu-accelerated #mmenu-blocker{-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);transform:translate3d(0,0,0);}	
/*.mmenu-left.mmenu-opened .mmenu-page,html.mmenu-left.mmenu-opened #mmenu-blocker{margin-left:0px; left:0%;}*/
.mmenu-left.mmenu-opening .mmenu-page,.mmenu-left.mmenu-opening #mmenu-blocker{margin-right:-20%; right:100%;}
.mmenu-right.mmenu-opened .mmenu-page,.mmenu-right.mmenu-opened #mmenu-blocker{margin-left:0px; left:0%;}
.mmenu-right.mmenu-opening .mmenu-page,.mmenu-right.mmenu-opening #mmenu-blocker{margin-left:-20%; left:100%;}


.mmenu{background:#000;}
.mmenu li{border:none; width:100%; height:40px; padding:4px 0; border-bottom:1px solid #494949;}
.mmenu li a{display:block; padding:0 10px; color:#a6aba9; font:12px/40px "微软雅黑";}
.mmenu li:first-child{border-top-width:0;}

.funtion2{padding:0 10px;}
.funtion2 li{border:none; width:33.33%; height:40px; text-align:center;}
.funtion2 h3{font:14px/1.5 "微软雅黑";}
.funtion2 i{font-size:30px; line-height:40px;}

.user{position:absolute;right:0;top:0; z-index:1000; width:40px; height:40px; background-color:#fff; color:#25b5c2;}
.user i{font-size:26px; line-height:40px;}

.mmenu-opened{}
.usermag{width:100%; position:relative; margin:0 auto; padding:20px 0; color:#a9adab; z-index:3;}
.usermag #imgfile_userhead{position:absolute; top:0; left:0; width:0; height:0;}
.usermag .img{width:80px; height:80px; border-radius:50%; overflow:hidden; margin:0 auto;}
.usermag .img img{width:80px; height:80px; border-radius:50%; overflow:hidden; margin:0 auto;}
.usermag .landbtn{width:100%; padding-top:20px; text-align:center;}
.usermag .landbtn a{color:#a9adab; font:16px/40px "微软雅黑";}
.usermag p{font:12px/1.5 "微软雅黑"; text-align:center; width:100%;}

#menu .lefticon{display:block; font-size:26px; text-align:center; margin:5px 0; margin-right:10px; line-height:30px; width:30px; height:30px; border-radius:50%; background-color:#25b5c2; color:#fff;}

#menu{background:url(../images/userbg.jpg) no-repeat 0 0; background-size:100% auto; font:14px/40px "微软雅黑";}

/*侧边导航结束*/
